@{Layout ="_Layout";}
@using Model
@model IEnumerable<Product>
<h2>Products list</h2>
<div class="top-buttons">
    <button>
        @Html.ActionLink("Add", "Add")
    </button>
</div>
<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Price</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in Model)
        {
            <tr>
                <td>@product.ID</td>
                <td>@product.Name</td>
                <td>@product.Price</td>
                <td>
                    @*<a>Edit</a>*@
                    @Html.ActionLink("Edit", "Edit", new { ID = product.ID })
                </td>
                <td style="padding:5px;border-bottom: 1px solid lightgrey;">
                    @*<a>Delete</a>*@
                    @Html.ActionLink("Delete", "Delete", new { ID = product.ID })
                </td>
            </tr>

        }
    </tbody>
</table>